/.classpath
/.settings
/.idea
/.kanban
/.last_build
/.project
/build_ignore
/build_lib_jars
/log.txt
/package-lock.json
/package.json
/Changelog.txt
/bin
/jdoc
/manifest.txt
/McVersions.txt
/src/mojang-translations/
node_modules
*todo.txt
*TODO.txt
*.class
*.jar
*.iml
